<!-- <%= %> essa é a sintaxe pra inserir valores de variaveis com o ejs -->
<!-- <%- -%> é a sintaxe pra incluir outea pagina -->

<%- include("Header") -%>

    <div class="box" id="heading">
        <h1><%= titulo %></h1>
    </div>

    <!-- loop no array lista que o server mandou pra ca como """"props""" acessando e exibindo na tela como um list item o valor que ta no i -->

    <div class="box">
        <% for(i=0; i < lista.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= lista[i] %>
                </p>
            </div>
            <% } %>


    <!-- o form tem o metodo post pois vai enviar de volta pro srrvidor as info q o usuario colocar, o action é a localização de onde o request vai ser feito-->
    <form action="/" method="post" class="item">
        <input type="text" name="inputUsuario" placeholder="Novo Item" autocomplete="off">
        <button type="submit" name="button" value="<%= titulo %>">+</button>
    </form>
</div>
<%- include("Footer") -%>

